<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);">
  <div class="container">

    <h1> Details of one cocktail </h1>

    <p><%= @cocktail.name.capitalize%></p>

    <ul>
     <% @cocktail.doses.each do |dose| %>
     <li> <%= dose.description %> :  <%= dose.ingredient.name %></li> <%= link_to "ðŸ—‘ï¸",
     dose_path(dose),
     method: :delete,
     data: {confirm: "Are you sure?"} %>
      <% end %>
    </ul>



    <br> <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-ghost"  %>
    <br> <%= link_to "Back to list", cocktails_path, class: "btn btn-ghost"  %>

  </div>
</div>
